<br />
<app-header></app-header>
<app-search></app-search>
<div class="linkList">
    <nav class="sidebar">
        <ul>
            <li><a routerLink="/login"><i class="fa fa-sign-in-alt"></i> Connexion</a></li>
            <li><a routerLink="/register"><i class="fa fa-user-plus"></i> Inscription</a></li>
            <li><a routerLink="/catalogue" routerLinkActive="active"><i class="fa fa-book"></i> Catalogue</a></li>
            <li><a routerLink="/panier" routerLinkActive="active"><i class="fa fa-shopping-cart"></i> Panier</a></li>
            <li><a routerLink="/cards" routerLinkActive="active"><i class="fa fa-shopping-cart"></i> cards</a></li>
        </ul>

    </nav>

</div>
<router-outlet></router-outlet>